h1 {
    text-align: center;
}

.searchSection {
    margin-bottom: 40px;
}


.categorySection {
    margin-bottom: 40px;
}

.priceSection {
    margin-bottom: 40px;
}

.cards {
    margin-bottom: 20px;
}

.card.cards {
    border: 2px solid black;
    padding-top: 16px;
    padding-left: 16px;
  }

  .marginBottom {
    margin-bottom: 16px;
  }

  .marginBottomAndTop {
    margin-bottom: 16px;
    margin-top: 8px;
  }